* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f8fafc;
    font-family: system-ui, sans-serif;
}

html, body {
    height: 100%;
    background: #18181b;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 4.25rem;
}

.text-gradient {
    color: #3b82f6;
    background-image: linear-gradient(45deg, #3b82f6 30%, #7dd3fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    padding: 1rem;
    text-align: center;
}
